body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FEFFFB;

}

.bg-light {
    background-color: #FEFFFB !important;

}



.nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #AEAEAE !important;
}

.nav-item.active a {
    color: #F9B234 !important;
    font-weight: 500;
}


.nav-item:hover a {
    color: #F9B234 !important;
    font-weight: 500;
}

.banner {
    margin-top: 15px;
    text-align: center;
}

.banner h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;

}

.banner h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 48px;

}

.banner p {
    font-family: 'Quicksand', sans-serif;
    color: #8B8BA5;
    font-size: 18px;
    margin-top: 5px;


}

.tombol {
    background-color: #FFE500;
    border-radius: 20px 0 20px 0;
    padding-left: 51px;
    padding-right: 51px;

    font-weight: 700;
}

.image {
    margin-top: 20px;

}

.image img {
    display: none;
}

.about {
    margin-top: 130px;

}

.service,
.portfolio {
    margin-top: 120px;

}




.about h3,
.service h3,
.portfolio h3,
.contact h3 {
    font-weight: 700;
    font-size: 30px;
    color: #767e73;
    text-align: center;

}



/*.contact {
    background-color: #FCFFF3;

}*/

footer {

    font-size: 14px;
    position: relative;

}

.up {
    position: absolute;
    position: fixed;
    bottom: 100px;
    border-radius: 50px;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.2);
    background-color: #ffea76;



}



.paragraf {
    text-align: center;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
    color: #636363;
}

.card-body h5 {
    font-weight: 700;

    font-family: 'Quicksand', sans-serif;

}

.card-body p {
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;

}

.card {
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}


.ukuran-font,
.label-text {
    font-weight: 500 !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px !important;
    color: #8B8BA5 !important;


}


.form-control {

    font-size: 13px;
    font-weight: 400;
    /*background-color: #FCFFF3;*/
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2), 3px 3px 5px rgba(0, 0, 0, 0.2);



}


.class-input {
    padding: 20px !important;
    padding-bottom: 22px !important;
    padding-top: 22px !important;
    font-size: 15px !important;


}


.class-input1 {
    padding: 20px !important;
    font-size: 15px !important;

}



.kirim {
    padding: 10px 40px;
    border-radius: 0 0 20px 0;
    color: #FCFFF3;
    font-weight: 600;
}

.justify {
    justify-content: center;
}


@media (min-width: 992px) {

    .nav-item .nav-link {
        font-size: 20px;

    }

    .image img {
        display: block;
    }

    .banner {
        margin-top: 50px;
        text-align: left;
    }

    .banner h3 {

        font-size: 38px;
        margin-left: 0;
    }

    .banner h1 {

        font-size: 48px;
        margin-left: 0;
    }

    .banner p {

        margin-top: 5px;
        margin-left: 0;

    }



    .paragraf {
        text-align: left;
        font-size: 20px;

    }

    footer {

        font-size: 14px;
    }

    .ukuran-font,
    .label-text {
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        color:

    }

    .form-control {

        font-size: 14px;
        font-weight: 400;
        padding: 10px;

    }

    .justify {
        justify-content: start;
    }

}